<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Galería</title>
    <link rel="stylesheet" href="style/main.css"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="img/perrologo.png">

</head>
<body>
    <nav>
        <ul class="nav-izq">
            <li> <a href="#"><img src="img/logo - 100.png" alt="logo2"></a> </li>
            <li> <a href="{% url 'index' %}">Inicio</a> </li>
            <li> <a href="{% url 'gallery' %}">Galería</a> </li>
        </ul>
        <ul class="nav-der">
            <li> <a href="registro.html"><span class="glyphicon glyphicon-log-in"></span> Registro</a> </li>
        </ul>
    </nav>
    <main> 
    <div class="container">
        <div class="bloque-texto">
            <h2>Galería de perros rescatados y cuidados hasta el día de hoy</h2>
            <p>Aquí podrás ver a nuestros perros que necesitan de ti</p>
            <p>Podras ver su caracteristicas y conocer lo que le gusta y hacen</p>
            <p>, se que te van a encantar</p>
        </div>
        <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="img/Perro1.jpg" target="_blank">
                <img src="img/Perro1.jpg" alt="Rescatado1" style="width:100%">
                <div class="caption">
                        <h5>Jebus</h5>
                    <p>Fue rescatado por nosotros Mis Perris</p>
                    <p>Él es Jebus, un perro bastante juguetón
                        por si tiene un hijo, le encantará, está entrenado para amar y ser 
                        amado por su gente, es un golden retriever de tan solo 2 meses.
                    </p>
                </div>
                </a>
            </div>
            </div>
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="img/Perro2.jpg" target="_blank">
                <img src="img/Perro2.jpg" alt="Rescatado2" style="width:100%">
                <div class="caption">
                    <h5>Loki</h5>
                    <p>Fue rescatado por nosotros Mis Perris</p>
                    <p>Loki es un animal característico para nosotros, fue encontrado
                       en un parque a las afueras de Santiago, él es un golden retriever.
                    </p>
                </div>
                </a>
            </div>
            </div>
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="img/Perro3.jpg" target="_blank">
                <img src="img/Perro3.jpg" alt="Rescatado3" style="width:100%">
                <div class="caption">
                        <h5>Dioniso</h5>
                    <p>Fue rescatado por nosotros Mis Perris</p>
                    <p>Dionis el pastor alemán es un perro bastante cerrado, cuesta llegar a él
                        pero la gente que ha podido acercarse a él ah podido ver el amor que puede brindar,
                        necesita ser adoptado por una familia que lo ame y lo cuide.
                    </p>
                </div>
                </a>
            </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="img/perrogaleria2.jpg" target="_blank">
                    <img src="img/perrogaleria2.jpg" alt="Rescatado4" style="width:100%">
                    <div class="caption">
                            <h5>razaljulk</h5>
                        <p>Fue rescatado por nosotros Mis Perris</p>
                        <p>razaljulk es un animal que encontramos en el Río Mapocho vagando, desnutrido, el nombre estaba en su collar,
                            no sabemos realmente su origen o qué le pasó, lo único que sabemos es que este animal tímido
                            le cuesta acercarse a la gente por lo que, quien quiera tenerlo tendrá que brindarle un amor inmenso.
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="img/perrogaleria3.jpg" target="_blank">
                    <img src="img/perrogaleria3.jpg" alt="Rescatado5" style="width:100%">
                    <div class="caption">
                            <h5>crack</h5>
                        <p>Fue rescatado por nosotros Mis Perris</p>
                        <p>Un golden retriever muy juguetón, está todos los días relacionandose
                                con todos los otros animales, tiene un año y medio, necesita urgente hogar
                                porque lleva bastante tiempo encerrado y necesita ser adoptado, necesita tu amor.</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="img/perrogaleria4.jpg" target="_blank">
                        <img src="img/perrogaleria4.jpg" alt="Rescatado6" style="width:100%">
                        <div class="caption">
                                <h5>Osiris</h5>
                            <p>Fue rescatado por nosotros Mis Perris</p>
                            <p>Osiris es un animal bastante especial, él fue dañado rescatando a su dueño 
                                el cual lo abandono, es un animal bastante juguetón y cariñoso con todo.
                            </p><br>
                        </div>
                        </a>
                    </div>
                </div>
        </div>
    </div><br>

    <div class="container text-center">                     
            <div class="row">
               <div class="col-sm-4">
                  <img src="img/crowfunding.jpg" class="img-responsiva" style="width:100%" alt="CrowFunding2">
               </div>
               <div class="col-sm-4">
                    <img src="img/crowfunding.jpg" class="img-responsiva" style="width:100%" alt="CrowFunding3">
                </div>
                <div class="col-sm-4">
                    <img src="img/crowfunding.jpg" class="img-responsiva" style="width:100%" alt="CrowFunding4">
                </div>  
            </div>
        </div><br>
    </main>

    <footer class="container-fluid text-center">
            <div class="div-izq"> 
                <p style="text-align: left;">
                  <b>&copy;2018 Mis Perris</b></p>
                  <p style="text-align: left;">Contacto</p>
                <p style="text-align: left;">
                <a href="mail:aimbox_prox@hotmail.cl">
                 Correo: aimbox_prox@hotmail.cl
                </a>
              </p>
               <p style="text-align: left;">
                <a href="tel:+56979612330">
                    Celular: +56 9 796 123 30
                </a>
              </p>
              
            </div>
            
            <div class="contacto" style="text-align: right;">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
            </div>
          </footer>

        
    
</body>
</html>